body {
            background: linear-gradient(135deg, #3494e6, #ec6ead, #6b36b6);
            background-size: 400% 400%;
            animation: gradient 10s ease infinite;
            font-family: 'Poppins', sans-serif;
            color: #fff;
            scroll-behavior: smooth; /* Smooth scrolling */
        }

        @keyframes gradient {
            0% {
                background-position: 0% 50%;
            }

            50% {
                background-position: 100% 50%;
            }

            100% {
                background-position: 0% 50%;
            }
        }

        .profile-image {
            border: 10px solid transparent;
            border-image-slice: 1;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4) !important; /* Box shadow */
            transition: transform 0.3s ease; /* Transform on hover */
        }

        .contact-icons a {
            color: #fff;
            font-size: 24px;
            margin-right: 15px;
            transition: color 0.3s ease; /* Smooth color transition on hover */
        }

        .contact-icons a:hover {
            color: #ffd700; /* Change color on hover */
        }

        .experience,
        .coding-community {
            margin-top: 20px;
            border-top: 2px solid #fff; /* Section separators */
            padding-top: 20px;
        }

        .footer {
            background-color: #222;
            padding: 20px;
            text-align: center;
        }

        .footer a {
            color: #fff;
            margin: 0 15px;
        }

        h1 {
            font-size: 2.5em; /* Larger font size for the header */
        }

        p {
            font-size: 1.2em; /* Slightly larger font size for paragraphs */
        
